<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
   <section> 
    <a href="/mercadoLiebre"><img src="/images/logo-mercado-liebre.svg" alt="mercadoLiebre"></a>
    
      <nav align="center">
        <div>
            <form action="">
                <input type = "text">
                <button>buscar</button>
            </form>
        </div>
      </nav>

      <h5 align="center">Comprá en cuotas y sin tarjeta de crédito</h5>

      <nav>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="#Tiendas">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        </ul>

        <ul>
          <li><a href="#Crea">Creá tu cuenta</a></li>
          <li><a href="#Ingresa">Ingresá</a></li>
          <li><a href="#Compras">Mis Compras</a></li>
        </ul>

      </nav>
   </section>
    
</body>
</html>