:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisoscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    --textoSizeCuerpos: 12px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeDescuentos: 16px;
    --textoSizeDescripciones: 16px;

}

body{
    background-color: var(--colorAmarillo);
    
}

h5{
    font-family: 'Roboto', sans-serif;
}

header{
    font-family: 'Roboto', sans-serif;
    font-size: var(--textoSizeCuerpos);
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: var(--textoSizeTitulares);
}

ul{
    font-family: 'Roboto', sans-serif;
}

.precios{
    font-size: var(--textoSizePrecios);
}

.descuentos{
font-size: var(--textoSizeDescuentos);
}

.descripciones{
font-size: var(--textoSizeDescripciones);
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}

p{
    margin-top: 0cm;
    font-size: var(--textoSizeCuerpos);
    color: var(--colorGrisoscuro);
}

h4{
    font-size: var(--textoSizeDescripciones);
    color: var(--colorGrisoscuro);
    margin-bottom: 0cm;
}

h6{
    color: var(--colorGrisoscuro);
}

.burguer-menu{
    box-sizing: border-box; 
    margin-bottom: 10px;
    background-color: #1259c3;
    color: white;
    margin-left: 37mm;
    margin-right: 37mm; 
    border-radius: 1mm;
}

.iconos{
    margin-bottom: 10px;
    size: 2em;
}